#CanvasSelection {
    --border-corner-size: 10px;
    --border-size: 3px;
    background-color: transparent;
    border-color: var(--accent-color);
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
    display: none;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;

    svg {
        background-color: var(--accent-color);
        pointer-events: all;
        position: absolute;
    }

    :nth-child(1) {
        cursor: n-resize;
        height: var(--border-size);
        top: calc(-1 * var(--border-size));
        width: inherit;
    }

    :nth-child(2) {
        cursor: w-resize;
        height: inherit;
        left: calc(-1 * var(--border-size));
        width: var(--border-size);
    }

    :nth-child(3) {
        cursor: s-resize;
        height: var(--border-size);
        top: 100%;
        width: inherit;
    }

    :nth-child(4) {
        cursor: e-resize;
        height: inherit;
        left: 100%;
        width: var(--border-size);
    }

    :nth-child(n+5) {
        background-color: var(--accent-color);
        border: 2px solid red;
        border-radius: 100%;
    }

    :nth-child(5) {
        cursor: nw-resize;
        height: var(--border-corner-size);
        right: 100%;
        top: calc(-1 * var(--border-corner-size));
        width: var(--border-corner-size);
    }

    :nth-child(6) {
        bottom: calc(-1 * var(--border-corner-size));
        cursor: sw-resize;
        height: var(--border-corner-size);
        right: 100%;
        width: var(--border-corner-size);
    }

    :nth-child(7) {
        bottom: calc(-1 * var(--border-corner-size));
        cursor: se-resize;
        height: var(--border-corner-size);
        left: 100%;
        width: var(--border-corner-size);
    }

    :nth-child(8) {
        cursor: ne-resize;
        height: var(--border-corner-size);
        left: 100%;
        top: calc(-1 * var(--border-corner-size));
        width: var(--border-corner-size);
    }

    /* Borders NWSE */
    /* Borders edge corners NW SW SE NE */
}

#CanvasBrush {
    animation: 0.3s reveal;
    background-color: var(--accent-color);
    border-radius: var(--window-border-radius);
    cursor: pointer;
    display: none;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
}

#Canvas {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    cursor: pointer;
    height: 100%;
    image-rendering: pixelated;

    width: 85%
}

.SceneControls {
    display: flex;
    flex-direction: column;

    .button {
        background-color: var(--serious-color);
        border: 1px solid var(--accent-color);
        border-right: none;
        color: var(--text-color);
        cursor: pointer;
        text-align: center;
        transition: 0.2s;
        width: 41px;

        &:hover {
            background-color: var(--serious-hover-color);
            transition: 0.2s;
        }
    }

    .dialog {
        align-items: center;
        background-color: var(--background-color);
        border: 2px solid var(--accent-color);
        border-radius: var(--window-border-radius);
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: absolute;
        text-align: center;
        transition: 0.2s;
        white-space: pre-wrap;

        .button {
            border-radius: var(--window-border-radius);
            margin-top: 10px;
            width: 50%;
        }
    }
}