#CanvasSelection {
    background-color: transparent;
    border-color: var(--accent-color);
    border-style: solid;
    cursor: pointer;
    display: none;
    opacity: 0.5;
    position: absolute;

    svg {
        background-color: purple;
        position: absolute;
    }

    :nth-child(1) {
        cursor: n-resize;
        height: 5px;
        top: -5px;
        width: inherit;
    }

    :nth-child(2) {
        cursor: w-resize;
        height: inherit;
        left: -5px;
        width: 5px;
    }

    :nth-child(3) {
        cursor: e-resize;
        height: inherit;
        left: 100%;
        width: 5px;
    }

    :nth-child(4) {
        cursor: s-resize;
        height: 5px;
        top: 100%;
        width: inherit;
    }
}

#CanvasBrush {
    animation: 0.3s reveal;
    background-color: var(--accent-color);
    border-radius: var(--window-border-radius);
    cursor: pointer;
    display: none;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
}

#Canvas {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    cursor: pointer;
    height: 100%;
    image-rendering: pixelated;

    width: 85%
}

.SceneControls {
    display: flex;
    flex-direction: column;

    .button {
        background-color: var(--serious-color);
        border: 1px solid var(--accent-color);
        border-right: none;
        color: var(--text-color);
        cursor: pointer;
        text-align: center;
        transition: 0.2s;
        width: 41px;

        &:hover {
            background-color: var(--serious-hover-color);
            transition: 0.2s;
        }
    }

    .dialog {
        align-items: center;
        background-color: var(--background-color);
        border: 2px solid var(--accent-color);
        border-radius: var(--window-border-radius);
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: absolute;
        text-align: center;
        transition: 0.2s;
        white-space: pre-wrap;

        .button {
            border-radius: var(--window-border-radius);
            margin-top: 10px;
            width: 50%;
        }
    }
}