body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Game {
  align-items: center;
  background-color: var(--primary-color);
  background-image: url('../images/background.jpg');
  display: flex;
  height: 100vh;
  justify-content: center;
  user-select: none;
}

:root {
  --primary-color: gray;
  --secondary-color: white;
  --accent-color: black;
  --text-color: black;
  --game-height: 600px;
  --game-width: 800px;
  --window-border-radius: 1rem;
}