.AssetsManager {
    align-items:start;
    border: none;
    display: flex;
    height: inherit;
    gap: 5px;
    width: inherit;
}
/*////////
// Menu //
////////*/
.AssetsManagerMenu {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: 150px;
    width: 350px;
}
/*//////////////////
// ManagerWindow //
//////////////////*/
.AssetsManagerWindow {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    border-top: none;
    height: 150px;
    overflow: scroll;
    scrollbar-width: thin;
    width: 100%;
}
/* Asset */
.Assets {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
/* Asset */
.Asset {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    width: 100px;
}
.Asset img {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    width: inherit;
}
.Asset label {
    background-color: var(--primary-color);
    border: 3px solid var(--accent-color);
    text-align: center;
    width: inherit;
}
/* Upload Button */
.UploadButton {
    background-color: var(--primary-color);
    cursor: pointer;
}
.UploadButton:hover {
    background-color: var(--hover-color);
    transition: 0.3s;
}
.UploadButton input {
    display: none;
}
.UploadButton img {
    width: 15px;
}
.UploadButton__label {
    align-items: center;
    display: flex;
    cursor: pointer;
    gap: 5px;
    justify-content: center;
    padding: 1px;
    white-space: nowrap;
}