#Toolbar {
    background-color: var(--background-color);
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
#Toolbar__handle {
    cursor: ns-resize;
    height: 2.5px;
    position: absolute;
    width: inherit;
    z-index: 2;
}
#Toolbar__handle:hover {
    background-color: var(--hover2-color);
    transition: 0.2s;
}
.Toolbar__header {
    align-items: center;
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    height: 35px;
    width: inherit;
}
.Toolbar__content {
    height: inherit;
    width: inherit;
}
.Toolbar__header__button {
    align-items: center;
    border-right: 2px solid var(--accent-color);
    cursor: pointer;
    display: flex;
    height: inherit;
    justify-content: center;
}
.Toolbar__header__button:hover {
    background-color: var(--hover-color);
    transition: 0.2s;
}
.Toolbar__header__button__title {
    font-style: italic;
    margin: 10px;
}