/*////////////////
/// Animation ///
///////////////*/
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    50% { transform: translateX(5px) rotate(5deg); }
    75% { transform: translateX(-5px) rotate(-5deg); }
    100% { transform: translateX(0); }
}
@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}