#Canvas {
    background-color: var(--secondary-color);
    border: 3px solid var(--accent-color);
    border-radius: var(--window-border-radius);
    height: var(--game-height);
    image-rendering: pixelated;
    width: var(--game-width);
}