#Canvas {
    background-color: var(--canvas-color);
    border: 3px solid var(--accent-color);
    border-radius: var(--window-border-radius);
    cursor: pointer;
    height: var(--game-height);
    image-rendering: pixelated;
    width: var(--game-width);
}

#Canvas-brush {
    background-color: var(--accent-color);
    border-radius: var(--window-border-radius);
    cursor: pointer;
    display: none;
    height: 32px;
    opacity: 0.5;
    position: absolute;
    animation: 0.3s reveal;
    width: 32px;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}