@font-face {
  font-family: "PixelFont";
  src: url("../fonts/main.ttf") format("truetype");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --accent-color: black;
  /* --background-color: white; */
  --background-color: rgb(32, 32, 32);
  --canvas-color: gray;
  --serious-color: red;
  --serious-hover-color: darkred;
  --text-color: white;
  --game-height: 600px;
  --game-width: 800px;
  --window-border-radius: 10px;
}

.Game {
  align-items: center;
  background-color: var(--background-color);
  background-image: url('../images/background.jpg');
  color: var(--text-color);
  display: flex;
  font-family: PixelFont;
  height: 100vh;
  justify-content: center;
  text-shadow: 0 0 2px var(--accent-color);
  user-select: none;
}