#DesignMenu {
    background-color: var(--secondary-color);
    border: 3px solid var(--accent-color);
    border-radius: var(--window-border-radius);
    color: var(--text-color);
    height: 600px;
    overflow: auto;
    overflow-x: hidden;
    width: 12%;
    background-image: url('../../../assets/images/level_editor_background.jpg');
    /* background-size: cover; */
}

.DesignMenu__title {
    text-align: center;
}

.DesignMenu__select {
    margin-bottom: 0;
    margin-left: 10px;
    text-align: center;
}

.DesignMenu__select__dropdown {
    width: 75%;
    border-radius: var(--window-border-radius);
}

.DesignMenu__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.DesignMenu__content__group {
    text-align: center;
}

.DesignMenu__content__tiles {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
}

.DesignMenu__content__tiles__tile {
    background-color: transparent;
    background-size: cover;
    border: 4px solid var(--accent-color);
    border-radius: var(--window-border-radius);
    height: 50px;
    image-rendering: pixelated;
    opacity: 0.5;
    width: 50px;
}