.AnimationPlayer__speed {
    align-items: center;
    display: flex;
    font-size: large;
    margin: 5px;
}

.AnimationPlayer__speed__buttons {
    display: flex;
    gap: 1px;
    margin-left: 5px;
}

.AnimationPlayer__speed__buttons__button {
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    height: 20px;
    width: 25px;
}

.AnimationPlayer__speed__buttons__button__img {
    width: calc(100% - 10px);
}